{% extends 'freela/base.html' %}

{% block content %}


    <div class="col-lg-9" style="padding-left: 150px">
				<form class="input-group" method="get">
					<input type="text" name="search_by" class="form-control" placeholder="Pesquisar por...">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit">Pesquisar</button>
					</span>
				</form>
			</div>
            <br><br><br>

      {% for item in lista %}
    <div class="list-group col-md-12" style="padding-left: 150px">
            <div class="media col-md-3">
                <figure class="pull-left">
                    <img class="media-object img-rounded img-responsive" src="https://vignette.wikia.nocookie.net/christinaguilera/images/2/21/Christina-Aguilera-Your-Body-video-christina-aguilera-32338526-1920-1080.jpg/revision/latest?cb=20130921021108" alt="placehold.it/140x100" width="200" height="140">
                </figure>
            </div>
            <div class="col-md-4">
                <h4 class="list-group-item-heading pb-3"><b> {{item.name}} </b></h4>
                <p class="list-group-item-text">{{item.description}}</p>
            </div>

            <div class="col-md-1 text-center">
                <p> 2 <small> approvals </small></p>
                 <div class="btn-compose pull-left">
                        <a type="button" class="btn btn-success" href="{% url 'project_details' item.auto_increment_id %}"> Ver detalhes </a>
                    </div>
            </div>
    </div>

    {% endfor %}


    
    {% endblock %}